// Footer

footer {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid rgb(51, 51, 51);

  @media (max-width: 640px) {
    display: flex;
    justify-content: center;
  }
}

.footer-container {
  display: grid;
  width: 87%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  margin: 50px auto;
  row-gap: unset;
  font-weight: 300;
  max-width: 1400px;

  @media (max-width: 640px) {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    margin: 50px auto 0;
  }
}

.footer-informations {
  max-width: 360px;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (max-width: 640px) {
    background-color: rgb(243, 243, 243);
    width: 100%;
    max-width: unset;
    padding: 20px 0;
  }
}

.footer-informations h2 {
  margin-bottom: 20px;
}

.footer-about {
  width: 100%;
  max-width: 385px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (max-width: 640px) {
    margin: 0 auto 30px;
  }
}

.footer-about-text {
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: 300;
}

.footer-social {
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  min-width: 200px;
  max-width: 385px;
  margin: 0 auto 30px;

  @media (max-width: 800px) {
    min-width: 10px;
  }

  @media (max-width: 640px) {
    min-width: 200px;
  }
}

.footer-social-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  @media (max-width: 800px) {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  @media (max-width: 640px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-social-links i {
  font-size: 2em;
  margin-top: 20px;
}

.footer-logo {
  width: 240px;
  height: 70px;
}

.footer-rights {
  background-color: rgb(21, 21, 21);
  border-top: 1px solid rgb(230, 230, 230);
  font-weight: 300;

  & p {
    text-align: center;
    margin: 20px auto;
    font-size: 0.8em;
    font-weight: 300;
    color: rgb(243, 243, 243);
  }
}

.footer-menu {
  &-list {
    list-style-type: none;

    &-item {
      font-size: 0.9em;
      color: rgb(51, 51, 51);

      @media (max-width: 640px) {
        text-align: center;
      }

      &:hover {
        text-decoration: underline;
      }

      &-space {
        margin-top: 20px;
      }
    }
  }
}

.payment {
  margin-top: 20px;
  font-size: 2.7em;
}
