// Header

header {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.header-container {
  width: 94%;
  max-width: 1400px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 94%;
  }
}

// Navigation

.menu {
  &-list {
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 28px;
    list-style-type: none;

    @media (max-width: 1024px) {
      width: 130px;
    }

    @media (max-width: 640px) {
      width: 60px;
    }

    &-item {
      list-style-type: none;
      font-size: 1.1em;
      font-weight: bold;

      &-home {
        @media (max-width: 640px) {
          display: none;
        }
      }

      &-home-logo i {
        @media (min-width: 640px) {
          display: none;
        }
      }

      &-quantity-number {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(51, 51, 51);
        border-radius: 30px;
        height: 20px;
        width: 20px;
        padding: 2px;
        font-size: 0.7em;
        font-weight: bold;

        @media (max-width: 640px) {
          display: none;
        }
      }
    }
  }
}

.menu-list-item-bag-logo i {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(240, 147, 57)),
    to(rgb(161, 39, 255))
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.search-logo {
  display: none;

  @media (max-width: 640px) {
    display: flex;
    width: 38px;
    font-size: 24px;
    margin-bottom: 1px;
  }
}
.home-logo {
  display: none;

  @media (max-width: 640px) {
    display: flex;
    width: 20px;
    font-size: 24px;
    margin-bottom: 1px;
    margin-right: 20px;
  }
}

.logo {
  width: 190px;
  height: 56px;
}

.header-box-center {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

// Search

.search {
  width: 100%;
  height: 50px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 640px) {
    display: none;
  }

  &-label {
    width: 70%;
    height: 100%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(51, 51, 51);
    outline: none;
    font-size: 1em;
    color: rgb(51, 51, 51);
  }

  &-button {
    width: 50px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.9);
    border: 1px solid rgb(51, 51, 51);

    &:hover {
      cursor: pointer;
    }

    & i {
      color: rgb(243, 243, 243);
    }
  }

  ::placeholder {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.4px;
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

// Notification

.notification {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  cursor: default;

  & p {
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}
