// Base
@import "./base/font";
// Layout
@import "./layout/header";
@import "./layout/footer";

* {
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
  font-family: "Lato", arial, sans-serif;

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: rgb(51, 51, 51);
  }
}

#main {
  & h1 {
    font-size: 4em;
    text-align: center;
    margin: 50px 0;
    background: url("../img/teddy_1.jpg") no-repeat center;
  }
}

// Banner

.banner {
  width: 94%;
  height: 250px;
  max-width: 1400px;
  max-height: unset;
  background: url("../img/teddy_5.jpg") no-repeat center;
  background-size: 100%;
  object-fit: cover;
  position: relative;
  margin: 20px auto;
  border-radius: 10px;

  @media (max-width: 375px) {
    background-position: top;
    max-height: 200px;
  }

  &-message {
    position: absolute;
    width: 130px;
    height: 112px;
    background-color: white;
    right: 12%;
    top: 20%;
    border-radius: 10px;
    opacity: 0.8;
    cursor: default;

    @media (min-width: 1500px) {
      right: 17%;
    }

    & h2 {
      margin: 5px 5px 0 5px;
    }

    &-year {
      margin-bottom: 5px;
      font-size: 2em;
      line-height: 1;
    }

    @media (max-width: 375px) {
      right: 5%;
      top: 5%;
    }
  }

  &-button {
    position: absolute;
    width: 130px;
    height: 50px;
    right: 12%;
    bottom: 10%;
    border-radius: 10px;
    text-transform: uppercase;
    border: 1px solid rgb(51, 51, 51);
    background-color: rgba(51, 51, 51, 0.9);
    cursor: pointer;
    opacity: 0.8;
    transition: transform 300ms;

    @media (min-width: 1500px) {
      right: 17%;
    }

    & a {
      color: white;
      display: flex;
      margin: 5px;
      text-align: center;
      line-height: 1.2;
      font-weight: bold;
    }

    &:hover {
      transform: scale(1.04);
    }

    @media (max-width: 375px) {
      right: 5%;
      bottom: 10%;
    }
  }
}

.header-menu {
  display: flex;
}

#teddies {
  width: 80%;
  max-width: 1400px;
  display: flex;
  margin: 20px auto 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: 640px) {
    width: 94%;
  }

  &-title {
    font-size: 3em;

    &-bottom {
      margin-bottom: 20px;
      font-size: 1.3em;
    }
  }

  &-cards {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
    margin-bottom: 10px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1frs;
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &-error {
    font-size: 4em;
    display: flex;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 7ch;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.304);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304);
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &-notification {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    width: 80%;
    right: 10%;
    height: 50px;
    bottom: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    transform: translateX(-410px);
    box-shadow: 0 1px 10px transparent;
    color: white;
    background-color: rgba(51, 51, 51, 0.9);
    opacity: 0;
    text-decoration: none;

    &:hover {
      color: rgb(51, 51, 51);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  &:hover > .card-notification {
    transform: translateX(0);
    opacity: 1;
  }

  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    margin: 20px;

    &-price {
      color: rgb(191, 0, 0);
    }
  }

  &-image {
    width: 100%;
    max-height: 270px;
    min-height: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
    box-shadow: 0 1px 10px -5px rgba(0, 0, 0, 0.304);
  }
}

// Produits

#product-section {
  width: 100%;
  max-width: 1400px;
  display: flex;
  margin: 30px auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.4px;
  font-weight: 300;
}

#product-card {
  width: 80%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;

  & h1 {
    font-size: 4em;
    text-align: center;
    margin: 50px 0;
  }

  @media (max-width: 640px) {
    width: 94%;
  }
}

#product {
  width: 100%;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: 1fr;
  column-gap: 5em;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    column-gap: 0;
  }
}

#product-aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.product-title {
  font-size: 4rem;
  display: flex;
  margin: 20px 0 10px;

  @media (max-width: 1024px) {
    margin: 10px 0 10px;
    font-size: 3em;
  }
}

.product-description {
  width: 100%;
  max-width: 430px;
  margin-bottom: 30px;

  @media (max-width: 1024px) {
    max-width: unset;
  }
}

.product-price {
  font-size: 2em;
  color: rgb(191, 0, 0);
  margin-bottom: 10px;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 1.5em;
  }
}

.title-description {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 1.2em;
  }
}

#product-image {
  width: 100%;
  min-width: 400px;
  min-height: 543px;
  max-height: 543px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 10px;

  @media (max-width: 1024px) {
    min-height: 350px;
    max-height: 350px;
    min-width: unset;
  }

  @media (max-width: 640px) {
    min-height: 350px;
    max-height: 350px;
  }
}

#add-cart-btn {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 250ms;
  color: white;
  font-weight: 300;
  font-size: 1em;

  &:hover {
    color: rgb(51, 51, 51);
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.104);
  }

  @media (max-width: 640px) {
    width: 100%;
  }
}

.add-cart-btn-link {
  width: 100%;

  @media (min-width: 640px) {
    width: 250px;
  }
}

// liste déroulante

.product-menu {
  height: 40px;
  width: 320px;
  max-width: 320px;
  padding: 10px;
  border-radius: 7px;
  outline: none;
  font-size: 0.9em;
  font-weight: 300;
  border: 1px solid rgb(51, 51, 51);
  cursor: pointer;
  @media (max-width: 640px) {
    width: 100%;
    max-width: unset;
  }
}

.product-btn {
  display: flex;
  align-items: center;
  height: 50px;
  width: 320px;
  margin-top: 10px;
  justify-content: space-between;
  @media (max-width: 640px) {
    width: 100%;
  }
}

.number-cart {
  width: 60px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid rgb(51, 51, 51);
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;

  @media (max-width: 640px) {
    margin-right: 10px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Cart section

#cart-section {
  width: 94%;
  height: auto;
  margin: 30px auto 50px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1px;
  grid-area: a;

  @media (max-width: 1024px) {
    width: 100%;
    margin: 30px auto 0;
  }

  & h1 {
    font-size: 4em;
    text-align: center;
    margin: 50px 0;
    max-width: 500px;
  }

  &-card {
    width: 100%;
  }
}
#cart {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4em;
  margin-bottom: 10px;
  align-items: center;

  @media (max-width: 1024px) {
    max-width: 700px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 640px) {
    font-size: 80%;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  & img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.304);
    border-radius: 7px;
    display: block;

    @media (max-width: 640px) {
      display: none;
    }
  }

  &-card h2 {
    font-size: 1.8em;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }
}

.cart-price {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 60px;
  justify-content: flex-end;
}

.cart-product {
  display: flex;
  align-items: center;
  width: 100%;

  & p {
    min-width: 100px;
  }

  @media (max-width: 1024px) {
    min-width: 230px;
  }

  @media (max-width: 640px) {
    min-width: 30px;
    margin-right: 30px;
  }
}

.cart-colors {
  min-width: 90px;

  @media (max-width: 1024px) {
    min-width: 20px;
  }
}

.cart-quantity {
  text-align: center;
}

.cart-total {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-weight: 300;
  border-top: 1px solid rgb(217, 217, 217);
  padding-top: 5px;
  @media (max-width: 640px) {
    font-size: 80%;
  }
}

#clear-btn {
  cursor: pointer;
  color: rgb(90, 148, 234);
}

.empty-card {
  width: 100%;
  display: grid;
  column-gap: 3em;
  margin-bottom: 10px;
  padding-bottom: 4px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  font-size: 17px;

  &-message {
    font-weight: bold;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(240, 147, 57)),
      to(rgb(161, 39, 255))
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;

    @media (max-width: 640px) {
      display: flex;
      justify-content: center;
    }
  }
}

.keep-buy-btn {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
  color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  width: 200px;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(51, 51, 51);

  @media (max-width: 640px) {
    margin: 0 auto;
  }
}

.cart-image {
  font-size: 34px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(240, 147, 57)),
    to(rgb(161, 39, 255))
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  margin-right: 10px;

  @media (max-width: 640px) {
    display: flex;
    justify-content: center;
    margin-right: unset;
    margin-bottom: 10px;
  }
}

.empty-cart-heading {
  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
  }
}

#form-section {
  display: flex;
  margin: 30px auto 50px;
  width: 94%;
  max-width: 1400px;
  justify-content: center;
  flex-direction: column;
  grid-area: b;
}

#form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (max-width: 640px) {
    max-width: unset;
  }

  & h2 {
    font-size: 1.8em;
    margin-bottom: 10px;

    @media (max-width: 1024px) {
      text-align: center;
    }

    @media (max-width: 640px) {
      margin-bottom: unset;
    }
  }

  &-user-box {
    display: flex;
    flex-direction: row;

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }

  &-box {
    &-adress {
      width: 100%;
      margin-top: 12px;
      display: flex;

      & label {
        height: 45px;
        padding: 0 10px;
        font-size: 0.9em;
        box-sizing: border-box;
        border: 1px solid rgb(217, 217, 217);
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;

        & i {
          color: rgb(115, 115, 115);
        }
      }
    }

    &-city {
      width: 100%;
      display: flex;
      margin-top: 12px;

      & label {
        height: 45px;
        padding: 0 10px;
        font-size: 0.9em;
        box-sizing: border-box;
        border: 1px solid rgb(217, 217, 217);
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;

        & i {
          color: rgb(115, 115, 115);
        }
      }
    }
  }

  #form-group {
    width: 100%;
    display: flex;
    flex-direction: column;

    & small {
      margin: 12px 0 0 0;
    }
  }

  #form-email {
    display: flex;
    margin: 10px 0;

    & label {
      height: 45px;
      padding: 0 10px;
      font-size: 0.9em;
      box-sizing: border-box;
      border: 1px solid rgb(217, 217, 217);
      border-right: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      align-items: center;
      display: flex;
      justify-content: center;

      & i {
        color: rgb(115, 115, 115);
      }
    }
  }

  #error {
    &-email,
    &-name,
    &-firstname,
    &-adress,
    &-city,
    &-submit {
      display: none;
      margin-bottom: 10px;
      font-weight: 300;
      letter-spacing: 0.1px;
      color: rgb(207, 0, 0);
    }

    &-submit {
      display: flex;
      margin-top: 12px;
      margin-bottom: unset;
      color: rgb(207, 0, 0);
    }
  }

  #form-user {
    &-name {
      width: 40%;
      display: flex;
      margin-right: 12px;

      @media (max-width: 640px) {
        width: 100%;
        margin-bottom: 12px;
        margin-right: unset;
      }

      & label {
        height: 45px;
        padding: 0 10px;
        font-size: 0.9em;
        box-sizing: border-box;
        border: 1px solid rgb(217, 217, 217);
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;

        & i {
          color: rgb(115, 115, 115);
        }
      }
    }

    &-firstname {
      width: 60%;
      display: flex;

      @media (max-width: 640px) {
        width: 100%;
      }
      & label {
        height: 45px;
        padding: 0 10px;
        font-size: 0.9em;
        box-sizing: border-box;
        border: 1px solid rgb(217, 217, 217);
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        align-items: center;
        display: flex;
        justify-content: center;

        & i {
          color: rgb(115, 115, 115);
        }
      }
    }
  }

  #form-tel {
    margin-top: 12px;
  }

  & input {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    color: rgb(51, 51, 51);
    font-weight: 300;
    letter-spacing: 0.1px;
    padding-right: 10px;
    font-size: 0.9em;
    box-sizing: border-box;
    border: 1px solid rgb(217, 217, 217);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  ::placeholder {
    color: rgb(115, 115, 115);
    font-weight: 300;
    letter-spacing: 0.3px;
  }

  & button {
    width: 190px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(51, 51, 51);
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 0.3px;
    font-size: 0.9em;
    margin-top: 12px;
    border: 1px solid rgb(51, 51, 51);
    transition: color 200ms;
    transition: background-color 200ms;
    margin-right: 12px;

    @media (max-width: 640px) {
      width: 100%;
    }

    &:hover {
      color: rgb(51, 51, 51);
      background-color: white;
    }

    &:focus {
      outline: none;
    }
  }
}

#form-btn-back {
  font-weight: 300;
  color: rgb(84, 84, 84);
  margin-top: unset;
  transition: color 200ms;

  @media (max-width: 640px) {
    text-align: center;
    display: block;
    margin-top: 12px;
  }
}

#cart-main {
  width: 94%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  column-gap: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "b a";
  align-items: flex-start;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "a"
      "b";
  }
}

#confirmation-section {
  width: 94%;
  max-width: 1400px;
  display: flex;
  margin: 30px auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.4px;
  font-weight: 300;

  @media (max-width: 640px) {
    width: 100%;
  }
}

#confirmation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  & i {
    display: flex;
    justify-content: center;
    font-size: 3.5em;
    margin-bottom: 16px;
    color: rgb(0, 200, 170);
  }

  & h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
  }

  & p {
    font-size: 1em;
    text-decoration: underline;
    letter-spacing: 0;
    text-align: center;
  }

  &-name {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(240, 147, 57)),
      to(rgb(161, 39, 255))
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-details {
    width: 40%;
    max-width: 700px;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-radius: 10px;
    box-sizing: content-box;
    margin: 30px auto 0;

    @media (max-width: 1024px) {
      padding: 20px 0;
      width: 50%;
    }

    @media (max-width: 640px) {
      width: 100%;
      padding: 50px 0;
      margin: 20px auto;
      border-radius: 0;
    }

    & p {
      font-weight: bold;
      font-size: 1em;
      text-decoration: none;
      letter-spacing: 0.3px;
    }
  }
}

.return-btn {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  color: rgb(51, 51, 51);
  width: 200px;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(51, 51, 51);
  text-align: center;
  cursor: pointer;

  @media (max-width: 640px) {
    margin: 0 auto;
  }
}
