@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
}
header {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.header-container {
  width: 94%;
  max-width: 1400px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .header-container {
    width: 94%;
  }
}

.menu-list {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 28px;
  list-style-type: none;
}
@media (max-width: 1024px) {
  .menu-list {
    width: 130px;
  }
}
@media (max-width: 640px) {
  .menu-list {
    width: 60px;
  }
}
.menu-list-item {
  list-style-type: none;
  font-size: 1.1em;
  font-weight: bold;
}
@media (max-width: 640px) {
  .menu-list-item-home {
    display: none;
  }
}
@media (min-width: 640px) {
  .menu-list-item-home-logo i {
    display: none;
  }
}
.menu-list-item-quantity-number {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  border-radius: 30px;
  height: 20px;
  width: 20px;
  padding: 2px;
  font-size: 0.7em;
  font-weight: bold;
}
@media (max-width: 640px) {
  .menu-list-item-quantity-number {
    display: none;
  }
}

.menu-list-item-bag-logo i {
  background: -webkit-gradient(linear, left top, left bottom, from(#f09339), to(#a127ff));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.search-logo {
  display: none;
}
@media (max-width: 640px) {
  .search-logo {
    display: flex;
    width: 38px;
    font-size: 24px;
    margin-bottom: 1px;
  }
}

.home-logo {
  display: none;
}
@media (max-width: 640px) {
  .home-logo {
    display: flex;
    width: 20px;
    font-size: 24px;
    margin-bottom: 1px;
    margin-right: 20px;
  }
}

.logo {
  width: 190px;
  height: 56px;
}

.header-box-center {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.search {
  width: 100%;
  height: 50px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  .search {
    display: none;
  }
}
.search-label {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #333333;
  outline: none;
  font-size: 1em;
  color: #333333;
}
.search-button {
  width: 50px;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.9);
  border: 1px solid #333333;
}
.search-button:hover {
  cursor: pointer;
}
.search-button i {
  color: #f3f3f3;
}
.search ::placeholder {
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.search input[type=search]::-webkit-search-cancel-button {
  display: none;
}

.notification {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  cursor: default;
}
.notification p {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.5px;
}

footer {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #333333;
}
@media (max-width: 640px) {
  footer {
    display: flex;
    justify-content: center;
  }
}

.footer-container {
  display: grid;
  width: 87%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  margin: 50px auto;
  row-gap: unset;
  font-weight: 300;
  max-width: 1400px;
}
@media (max-width: 640px) {
  .footer-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    margin: 50px auto 0;
  }
}

.footer-informations {
  max-width: 360px;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .footer-informations {
    background-color: #f3f3f3;
    width: 100%;
    max-width: unset;
    padding: 20px 0;
  }
}

.footer-informations h2 {
  margin-bottom: 20px;
}

.footer-about {
  width: 100%;
  max-width: 385px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .footer-about {
    margin: 0 auto 30px;
  }
}

.footer-about-text {
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: 300;
}

.footer-social {
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  min-width: 200px;
  max-width: 385px;
  margin: 0 auto 30px;
}
@media (max-width: 800px) {
  .footer-social {
    min-width: 10px;
  }
}
@media (max-width: 640px) {
  .footer-social {
    min-width: 200px;
  }
}

.footer-social-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
@media (max-width: 800px) {
  .footer-social-links {
    display: flex;
    align-content: center;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .footer-social-links {
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-social-links i {
  font-size: 2em;
  margin-top: 20px;
}

.footer-logo {
  width: 240px;
  height: 70px;
}

.footer-rights {
  background-color: #151515;
  border-top: 1px solid #e6e6e6;
  font-weight: 300;
}
.footer-rights p {
  text-align: center;
  margin: 20px auto;
  font-size: 0.8em;
  font-weight: 300;
  color: #f3f3f3;
}

.footer-menu-list {
  list-style-type: none;
}
.footer-menu-list-item {
  font-size: 0.9em;
  color: #333333;
}
@media (max-width: 640px) {
  .footer-menu-list-item {
    text-align: center;
  }
}
.footer-menu-list-item:hover {
  text-decoration: underline;
}
.footer-menu-list-item-space {
  margin-top: 20px;
}

.payment {
  margin-top: 20px;
  font-size: 2.7em;
}

* {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Lato", arial, sans-serif;
}
* a:link {
  text-decoration: none;
}
* a:visited {
  color: #333333;
}

#main h1 {
  font-size: 4em;
  text-align: center;
  margin: 50px 0;
  background: url("../img/teddy_1.jpg") no-repeat center;
}

.banner {
  width: 94%;
  height: 250px;
  max-width: 1400px;
  max-height: unset;
  background: url("../img/teddy_5.jpg") no-repeat center;
  background-size: 100%;
  object-fit: cover;
  position: relative;
  margin: 20px auto;
  border-radius: 10px;
}
@media (max-width: 375px) {
  .banner {
    background-position: top;
    max-height: 200px;
  }
}
.banner-message {
  position: absolute;
  width: 130px;
  height: 112px;
  background-color: white;
  right: 12%;
  top: 20%;
  border-radius: 10px;
  opacity: 0.8;
  cursor: default;
}
@media (min-width: 1500px) {
  .banner-message {
    right: 17%;
  }
}
.banner-message h2 {
  margin: 5px 5px 0 5px;
}
.banner-message-year {
  margin-bottom: 5px;
  font-size: 2em;
  line-height: 1;
}
@media (max-width: 375px) {
  .banner-message {
    right: 5%;
    top: 5%;
  }
}
.banner-button {
  position: absolute;
  width: 130px;
  height: 50px;
  right: 12%;
  bottom: 10%;
  border-radius: 10px;
  text-transform: uppercase;
  border: 1px solid #333333;
  background-color: rgba(51, 51, 51, 0.9);
  cursor: pointer;
  opacity: 0.8;
  transition: transform 300ms;
}
@media (min-width: 1500px) {
  .banner-button {
    right: 17%;
  }
}
.banner-button a {
  color: white;
  display: flex;
  margin: 5px;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}
.banner-button:hover {
  transform: scale(1.04);
}
@media (max-width: 375px) {
  .banner-button {
    right: 5%;
    bottom: 10%;
  }
}

.header-menu {
  display: flex;
}

#teddies {
  width: 80%;
  max-width: 1400px;
  display: flex;
  margin: 20px auto 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 640px) {
  #teddies {
    width: 94%;
  }
}
#teddies-title {
  font-size: 3em;
}
#teddies-title-bottom {
  margin-bottom: 20px;
  font-size: 1.3em;
}
#teddies-cards {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  #teddies-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1frs;
  }
}
@media (max-width: 640px) {
  #teddies-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
#teddies-error {
  font-size: 4em;
  display: flex;
  text-align: center;
  align-items: center;
  width: 500px;
  height: 7ch;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.304);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.card-notification {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  width: 80%;
  right: 10%;
  height: 50px;
  bottom: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  transform: translateX(-410px);
  box-shadow: 0 1px 10px transparent;
  color: white;
  background-color: rgba(51, 51, 51, 0.9);
  opacity: 0;
  text-decoration: none;
}
.card-notification:hover {
  color: #333333;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
}
.card:hover > .card-notification {
  transform: translateX(0);
  opacity: 1;
}
.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px;
}
.card-heading-price {
  color: #bf0000;
}
.card-image {
  width: 100%;
  max-height: 270px;
  min-height: 270px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  box-shadow: 0 1px 10px -5px rgba(0, 0, 0, 0.304);
}

#product-section {
  width: 100%;
  max-width: 1400px;
  display: flex;
  margin: 30px auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.4px;
  font-weight: 300;
}

#product-card {
  width: 80%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}
#product-card h1 {
  font-size: 4em;
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 640px) {
  #product-card {
    width: 94%;
  }
}

#product {
  width: 100%;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: 1fr;
  column-gap: 5em;
}
@media (max-width: 1024px) {
  #product {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    column-gap: 0;
  }
}

#product-aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.product-title {
  font-size: 4rem;
  display: flex;
  margin: 20px 0 10px;
}
@media (max-width: 1024px) {
  .product-title {
    margin: 10px 0 10px;
    font-size: 3em;
  }
}

.product-description {
  width: 100%;
  max-width: 430px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .product-description {
    max-width: unset;
  }
}

.product-price {
  font-size: 2em;
  color: #bf0000;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .product-price {
    font-size: 1.5em;
  }
}

.title-description {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .title-description {
    font-size: 1.2em;
  }
}

#product-image {
  width: 100%;
  min-width: 400px;
  min-height: 543px;
  max-height: 543px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  #product-image {
    min-height: 350px;
    max-height: 350px;
    min-width: unset;
  }
}
@media (max-width: 640px) {
  #product-image {
    min-height: 350px;
    max-height: 350px;
  }
}

#add-cart-btn {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  border: 1px solid #333333;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 250ms;
  color: white;
  font-weight: 300;
  font-size: 1em;
}
#add-cart-btn:hover {
  color: #333333;
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.104);
}
@media (max-width: 640px) {
  #add-cart-btn {
    width: 100%;
  }
}

.add-cart-btn-link {
  width: 100%;
}
@media (min-width: 640px) {
  .add-cart-btn-link {
    width: 250px;
  }
}

.product-menu {
  height: 40px;
  width: 320px;
  max-width: 320px;
  padding: 10px;
  border-radius: 7px;
  outline: none;
  font-size: 0.9em;
  font-weight: 300;
  border: 1px solid #333333;
  cursor: pointer;
}
@media (max-width: 640px) {
  .product-menu {
    width: 100%;
    max-width: unset;
  }
}

.product-btn {
  display: flex;
  align-items: center;
  height: 50px;
  width: 320px;
  margin-top: 10px;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .product-btn {
    width: 100%;
  }
}

.number-cart {
  width: 60px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #333333;
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}
@media (max-width: 640px) {
  .number-cart {
    margin-right: 10px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cart-section {
  width: 94%;
  height: auto;
  margin: 30px auto 50px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1px;
  grid-area: a;
}
@media (max-width: 1024px) {
  #cart-section {
    width: 100%;
    margin: 30px auto 0;
  }
}
#cart-section h1 {
  font-size: 4em;
  text-align: center;
  margin: 50px 0;
  max-width: 500px;
}
#cart-section-card {
  width: 100%;
}

#cart {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4em;
  margin-bottom: 10px;
  align-items: center;
}
@media (max-width: 1024px) {
  #cart {
    max-width: 700px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 640px) {
  #cart {
    font-size: 80%;
  }
}
@media (max-width: 640px) and (max-width: 1024px) {
  #cart {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#cart img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.304);
  border-radius: 7px;
  display: block;
}
@media (max-width: 640px) {
  #cart img {
    display: none;
  }
}
#cart-card h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  #cart-card h2 {
    text-align: center;
  }
}

.cart-price {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 60px;
  justify-content: flex-end;
}

.cart-product {
  display: flex;
  align-items: center;
  width: 100%;
}
.cart-product p {
  min-width: 100px;
}
@media (max-width: 1024px) {
  .cart-product {
    min-width: 230px;
  }
}
@media (max-width: 640px) {
  .cart-product {
    min-width: 30px;
    margin-right: 30px;
  }
}

.cart-colors {
  min-width: 90px;
}
@media (max-width: 1024px) {
  .cart-colors {
    min-width: 20px;
  }
}

.cart-quantity {
  text-align: center;
}

.cart-total {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-weight: 300;
  border-top: 1px solid #d9d9d9;
  padding-top: 5px;
}
@media (max-width: 640px) {
  .cart-total {
    font-size: 80%;
  }
}

#clear-btn {
  cursor: pointer;
  color: #5a94ea;
}

.empty-card {
  width: 100%;
  display: grid;
  column-gap: 3em;
  margin-bottom: 10px;
  padding-bottom: 4px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  font-size: 17px;
}
.empty-card-message {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#f09339), to(#a127ff));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
@media (max-width: 640px) {
  .empty-card-message {
    display: flex;
    justify-content: center;
  }
}

.keep-buy-btn {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
  color: #333333;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #333333;
}
@media (max-width: 640px) {
  .keep-buy-btn {
    margin: 0 auto;
  }
}

.cart-image {
  font-size: 34px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f09339), to(#a127ff));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  margin-right: 10px;
}
@media (max-width: 640px) {
  .cart-image {
    display: flex;
    justify-content: center;
    margin-right: unset;
    margin-bottom: 10px;
  }
}

@media (max-width: 640px) {
  .empty-cart-heading {
    display: flex;
    flex-direction: column;
  }
}

#form-section {
  display: flex;
  margin: 30px auto 50px;
  width: 94%;
  max-width: 1400px;
  justify-content: center;
  flex-direction: column;
  grid-area: b;
}

#form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 640px) {
  #form {
    max-width: unset;
  }
}
#form h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  #form h2 {
    text-align: center;
  }
}
@media (max-width: 640px) {
  #form h2 {
    margin-bottom: unset;
  }
}
#form-user-box {
  display: flex;
  flex-direction: row;
}
@media (max-width: 640px) {
  #form-user-box {
    flex-direction: column;
  }
}
#form-box-adress {
  width: 100%;
  margin-top: 12px;
  display: flex;
}
#form-box-adress label {
  height: 45px;
  padding: 0 10px;
  font-size: 0.9em;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#form-box-adress label i {
  color: #737373;
}
#form-box-city {
  width: 100%;
  display: flex;
  margin-top: 12px;
}
#form-box-city label {
  height: 45px;
  padding: 0 10px;
  font-size: 0.9em;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#form-box-city label i {
  color: #737373;
}
#form #form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#form #form-group small {
  margin: 12px 0 0 0;
}
#form #form-email {
  display: flex;
  margin: 10px 0;
}
#form #form-email label {
  height: 45px;
  padding: 0 10px;
  font-size: 0.9em;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#form #form-email label i {
  color: #737373;
}
#form #error-email, #form #error-name, #form #error-firstname, #form #error-adress, #form #error-city, #form #error-submit {
  display: none;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #cf0000;
}
#form #error-submit {
  display: flex;
  margin-top: 12px;
  margin-bottom: unset;
  color: #cf0000;
}
#form #form-user-name {
  width: 40%;
  display: flex;
  margin-right: 12px;
}
@media (max-width: 640px) {
  #form #form-user-name {
    width: 100%;
    margin-bottom: 12px;
    margin-right: unset;
  }
}
#form #form-user-name label {
  height: 45px;
  padding: 0 10px;
  font-size: 0.9em;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#form #form-user-name label i {
  color: #737373;
}
#form #form-user-firstname {
  width: 60%;
  display: flex;
}
@media (max-width: 640px) {
  #form #form-user-firstname {
    width: 100%;
  }
}
#form #form-user-firstname label {
  height: 45px;
  padding: 0 10px;
  font-size: 0.9em;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#form #form-user-firstname label i {
  color: #737373;
}
#form #form-tel {
  margin-top: 12px;
}
#form input {
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  color: #333333;
  font-weight: 300;
  letter-spacing: 0.1px;
  padding-right: 10px;
  font-size: 0.9em;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#form ::placeholder {
  color: #737373;
  font-weight: 300;
  letter-spacing: 0.3px;
}
#form button {
  width: 190px;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: #333333;
  font-weight: 300;
  cursor: pointer;
  letter-spacing: 0.3px;
  font-size: 0.9em;
  margin-top: 12px;
  border: 1px solid #333333;
  transition: color 200ms;
  transition: background-color 200ms;
  margin-right: 12px;
}
@media (max-width: 640px) {
  #form button {
    width: 100%;
  }
}
#form button:hover {
  color: #333333;
  background-color: white;
}
#form button:focus {
  outline: none;
}

#form-btn-back {
  font-weight: 300;
  color: #545454;
  margin-top: unset;
  transition: color 200ms;
}
@media (max-width: 640px) {
  #form-btn-back {
    text-align: center;
    display: block;
    margin-top: 12px;
  }
}

#cart-main {
  width: 94%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  column-gap: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "b a";
  align-items: flex-start;
}
@media (max-width: 1024px) {
  #cart-main {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "a" "b";
  }
}

#confirmation-section {
  width: 94%;
  max-width: 1400px;
  display: flex;
  margin: 30px auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.4px;
  font-weight: 300;
}
@media (max-width: 640px) {
  #confirmation-section {
    width: 100%;
  }
}

#confirmation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
#confirmation i {
  display: flex;
  justify-content: center;
  font-size: 3.5em;
  margin-bottom: 16px;
  color: #00c8aa;
}
#confirmation h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  text-align: center;
}
#confirmation p {
  font-size: 1em;
  text-decoration: underline;
  letter-spacing: 0;
  text-align: center;
}
#confirmation-name {
  background: -webkit-gradient(linear, left top, left bottom, from(#f09339), to(#a127ff));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#confirmation-details {
  width: 40%;
  max-width: 700px;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-sizing: content-box;
  margin: 30px auto 0;
}
@media (max-width: 1024px) {
  #confirmation-details {
    padding: 20px 0;
    width: 50%;
  }
}
@media (max-width: 640px) {
  #confirmation-details {
    width: 100%;
    padding: 50px 0;
    margin: 20px auto;
    border-radius: 0;
  }
}
#confirmation-details p {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 0.3px;
}

.return-btn {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  color: #333333;
  width: 200px;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #333333;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 640px) {
  .return-btn {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
